<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>servlets.auth.ExampleNewUserServlet</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>
    
    
</web-app>