<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- SERVLET NAMING -->

	<servlet>
		<servlet-name>SendKey</servlet-name>
		<servlet-class>servlets.SendKeyServlet</servlet-class>
	</servlet>

	<!-- Train  -->
	
	<servlet>
		<servlet-name>GetMyTrainFuture</servlet-name>
		<servlet-class>servlets.trains.GetMyTrainFutureServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GetMyTrainPasse</servlet-name>
		<servlet-class>servlets.trains.GetMyTrainPasseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddTrain</servlet-name>
		<servlet-class>servlets.trains.AddTrainServlet</servlet-class>
	</servlet>
	
	
	<!-- Search -->
	<servlet>
		<servlet-name>TrainAtGare</servlet-name>
		<servlet-class>servlets.search.TrainAtGareServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Itineraire</servlet-name>
		<servlet-class>servlets.search.ItineraireServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchStation</servlet-name>
		<servlet-class>servlets.search.SearchStationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MostSearchedStation</servlet-name>
		<servlet-class>servlets.search.MostSearchedStationServlet</servlet-class>
	</servlet>

	<!-- Profile -->

	<servlet>
		<servlet-name>MonProfil</servlet-name>
		<servlet-class>servlets.profile.MonProfilServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetProfil</servlet-name>
		<servlet-class>servlets.profile.GetProfilServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddFavorite</servlet-name>
		<servlet-class>servlets.profile.AddFavoriteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteFavorite</servlet-name>
		<servlet-class>servlets.profile.DeleteFavoriteServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ListFavorite</servlet-name>
		<servlet-class>servlets.profile.ListFavoriteServlet</servlet-class>
	</servlet>

	<!-- Social -->

	<servlet>
		<servlet-name>AddFollow</servlet-name>
		<servlet-class>servlets.social.AddFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RemoveFollow</servlet-name>
		<servlet-class>servlets.social.RemoveFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ListFollow</servlet-name>
		<servlet-class>servlets.social.ListFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TweetsServlet</servlet-name>
		<servlet-class>servlets.social.TweetsServlet</servlet-class>
	</servlet>

	<!-- SERVLET MAPPING -->
	<!-- TODO: rename and dispatch? -->


	<servlet-mapping>
		<servlet-name>GetMyTrainPasse</servlet-name>
		<url-pattern>/getmytrainp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMyTrainFuture</servlet-name>
		<url-pattern>/getmytrainf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFavorite</servlet-name>
		<url-pattern>/listgare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTrain</servlet-name>
		<url-pattern>/addtrain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainAtGare</servlet-name>
		<url-pattern>/trainatgare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Itineraire</servlet-name>
		<url-pattern>/itineraire</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendKey</servlet-name>
		<url-pattern>/sendkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFollow</servlet-name>
		<url-pattern>/AddFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFollow</servlet-name>
		<url-pattern>/RemoveFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFollow</servlet-name>
		<url-pattern>/ListFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFavorite</servlet-name>
		<url-pattern>/GareFavor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFavorite</servlet-name>
		<url-pattern>/SupGareFavor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MonProfil</servlet-name>
		<url-pattern>/MonProfil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetProfil</servlet-name>
		<url-pattern>/GetProfil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TweetsServlet</servlet-name>
		<url-pattern>/tweets</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchStation</servlet-name>
		<url-pattern>/SearchStation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MostSearchedStation</servlet-name>
		<url-pattern>/MostSearchedStation</url-pattern>
	</servlet-mapping>

</web-app>