<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<!-- SERVLET NAMING -->
	
	<servlet>
		<servlet-name>TrainAtGare</servlet-name>
		<servlet-class>servlets.TrainAtGareServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Itineraire</servlet-name>
		<servlet-class>servlets.ItineraireServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendKey</servlet-name>
		<servlet-class>servlets.SendKeyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddFollow</servlet-name>
		<servlet-class>servlets.AddFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RemoveFollow</servlet-name>
		<servlet-class>servlets.RemoveFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ListFollow</servlet-name>
		<servlet-class>servlets.ListFollowServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GareFavor</servlet-name>
		<servlet-class>servlets.GarFavorServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SupGareFavor</servlet-name>
		<servlet-class>servlets.SuprimeGarFavorServlet</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>MonProfil</servlet-name>
		<servlet-class>servlets.MonProfilServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>GetProfil</servlet-name>
		<servlet-class>servlets.GetProfilServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TweetsServlet</servlet-name>
		<servlet-class>servlets.TweetsServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ListGare</servlet-name>
		<servlet-class>servlets.ListGareServlet</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>SearchStation</servlet-name>
		<servlet-class>servlets.SearchStationServlet</servlet-class>	
	</servlet>

	<!-- 	SERVLET MAPPING -->

	<servlet-mapping>
		<servlet-name>ListGare</servlet-name>
		<url-pattern>/listgare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainAtGare</servlet-name>
		<url-pattern>/trainatgare</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Itineraire</servlet-name>
		<url-pattern>/itineraire</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendKey</servlet-name>
		<url-pattern>/sendkey</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFollow</servlet-name>
		<url-pattern>/AddFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFollow</servlet-name>
		<url-pattern>/RemoveFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListFollow</servlet-name>
		<url-pattern>/ListFollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GareFavor</servlet-name>
		<url-pattern>/GareFavor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupGareFavor</servlet-name>
		<url-pattern>/SupGareFavor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MonProfil</servlet-name>
		<url-pattern>/MonProfil</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>GetProfil</servlet-name>
		<url-pattern>/GetProfil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TweetsServlet</servlet-name>
		<url-pattern>/tweets</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchStation</servlet-name>
		<url-pattern>/SearchStation</url-pattern>
	</servlet-mapping>
	
	
</web-app>